@charset "ISO-8859-1";

input[type="button"] {
  background-color: green;
  color:white;
  width:300px;
  border-color:white;
}
input[type="reset"] {
  background-color:grey;
  color:white;
  border-color:white;
}
.radio1
{
    background-color: #ff8040;
    text-align:center;
    color:white;
    font-size:30px;
    
}
h1
{
	text-align:center;
	background-color:grey;
	color:white;
	font-size:40px;	
	
}
p
{
	background-color:grey;
	color:white;
	font-size:20px;	
}
td
{
	background-color:#ff8040;
	color:white;
	text-align:center;
}
