@charset "ISO-8859-1";
th
{
	text-align:right;
	font-size:15px;
}
input[type='button']
{
	background-color:green;
	color:white;
	width:300px;
	border-color:white;
}
input[type="reset"]
{
	background-color:grey;
	color:white;
	border-color:white;
}
